@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.heading{
    position: absolute;
    top: 20px;
    color: white;
    text-shadow: 2px 3px 10px;
}
.white .heading{
    position: absolute;
    top: 20px;
    color: black;
    text-shadow: 2px 3px 10px;
}
#toggleBtn{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    float: right;
    right: 20px;
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(139, 180, 183);
    cursor: pointer;
}
.white #toggleBtn{
    background-color: black;
    box-shadow: 2px 3px 10px black;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left,black,rgb(57, 56, 54));
}
.white{
    background: linear-gradient(45deg,white,rgb(139, 180, 183));
    /* background: white; */
}
.calculator{
    border: 1px solid white;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 5px 4px 8px rgb(50, 49, 49,0.5),
    -5px -3px 4px rgb(81, 81, 87);
}
.white .calculator{
    border: 1px solid black;
    /* background: white; */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.9),
    -5px -3px 4px rgb(0, 0, 0);
}
input{
    width: 320px;
    border: 1px solid white;
    border-radius: 16px;
    padding: 20px;
    margin: 10px;
    background: transparent;
    box-shadow: 5px 4px 8px rgb(255, 255, 255,0.2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
    outline: none;
}
.white input{
    width: 320px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 16px;
    padding: 20px;
    margin: 10px;
    /* background: transparent; */
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
}
input::placeholder{
    color: #fff;
}
.white input::placeholder{
    color: rgb(48, 46, 46);
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: white;
    font-size: 24px;
    box-shadow: -6px -6px 15px rgba(255,255,255,0.2);
    cursor: pointer;
}
button:active{
    background-color: #fff;
    color: black;
    box-shadow: inset -6px -6px 15px rgba(0, 0, 0);
}
.white button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 24px;
    box-shadow: -6px -6px 15px rgba(0, 0, 0,0.9);
    cursor: pointer;
}
.white button:active{
    background-color: black;
    color: white;
    box-shadow: inset -6px -6px 15px rgb(255, 255, 255);
}
.equalBtn{
    background-color: rgb(16, 194, 123);
    opacity: 0.8;
}
.equalBtn:active{
    background-color: white;
    color: rgb(16, 194, 123);
    opacity: 0.8;
}
.white .equalBtn{
    background-color: rgb(16, 194, 123);
    opacity: 0.8;
}
.white .equalBtn:active{
    background-color: black;
    color: rgb(16, 194, 123);
    opacity: 0.8;
}
.operator{
    color: green;
}
.operator:active{
    background-color: #fff;
    color: green;
}
.white .operator{
    color: green;
}
.white .operator:active{
    background-color: black;
    color: green;
}
.ac{
    color: red;
}
.ac:active{
    background-color: #fff;
    color: red;
}
.white .ac{
    color: red;
}
.white .ac:active{
    background-color: black;
    color: red;
}
.del{
    color: rgb(207, 136, 22);
}
.del:active{
    background-color: #fff;
    color: rgb(207, 136, 22);
}
.white .del{
    color: rgb(207, 136, 22);
}
.white .del:active{
    background-color: black;
    color: rgb(207, 136, 22);
}